{% include html-head.html %}

	<body>

		<div class="container">

<!-- Week 1 -->
			<section>
				<div class="tabs tabs-style-linetriangle">
					<nav>
						<h2>Week 1 : What is User Experience? (UX)</h2>
						
						{% include section-nav.html %}

					</nav>
					
					<div class="content-wrap">
						
						
						{% for post in site.posts %} 
							
							<h2>{{ post.title }} xxx</h2>
							
							{{ content }}
											
						{% endfor %}

					</div><!-- /content -->

				</div><!-- /tabs -->
			</section>


		</div><!-- /container -->
		
			{% include scripts.html %}

	</body>
</html>
